* {
  font-size: 100%;
  font-family: sans-serif;
 }

nav {
  padding: .15em 0;
  width: 100%;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-left: 2.5em;
  font-weight: 200;
  font-size: 28px;
  line-height: 39px;
  text-align: center;
  color: #000000;
  cursor: pointer;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10px;
  background-color: #ffffff;

}

.navbar-item ,.active-navitem{
  width: 50%;
  height: 100%;
  padding: 0%;
}

.navbar-item:hover {
  background-color:darkgray;
  color: #ffffff;
}

.active-navitem {
  background-color: #2DC6BC;
  color: #ffffff;
  
}

hr {
  position: relative;
  height: 0px;
  left: 0px;
  border: 1px solid #2DC6BC;
  width: 100%;
  
}


img {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.box-div {
  border: 3px solid #E7E3E3;
  width: 50%;
  margin-top: 100px;
  margin-left: 25%;
}

.box-title {
  background: #F1EEEE;
}

h2 {
  margin: auto;
  padding: 10px;
  text-align: center;
  
}

h3 {
  margin: auto;
  padding: 10px;
  text-align: center;
  
}

.colored-title {
  color: #2DC6BC;
  text-align: center;
  margin: auto;
  padding: 10px;
  text-align: center;

}

select {
  display: block;
  margin: auto;
  cursor: pointer;
  width: 50%;
  height: 30px;


}

.custom-select {
  position: relative;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.signin-button {

  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px;

}

button {
  width: 50%;
  background: #2DC6BC;
  border: #F1EEEE;
  color: #ffff;
  height: 30px;
  cursor: pointer;
}


.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.homebar-container {
  display: flex;
  flex-direction: row;


}

.navbar-container {
  flex: 10%

}

.userinfo-container {
  flex: 1;
  margin: 10px;

}

.userinfo-text {
  margin: 10px;
  font-size: x-large;
  vertical-align: middle;
  

}

.home-body{
  display: flex;
  background-color:#2DC6BC;
  opacity:10%;
  width: 100%;
  height: 800px;
}


.question-div{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.h2-or{
  width: 50%;

}

textarea{
  resize: none;
  height: 100px;
}

.submit-btn{
  background: #2DC6BC;
  border: #F1EEEE;
  color: #ffff;
  height: 30px;
  cursor: pointer;
  width: 100%;

}


.leaderboard-item{
  display: flex;
  flex-direction: column;
 
  width: 50%;
  margin-top: 100px;
  margin-left: 25%;
}
/*
.rank-box  {
  display: flex;
  flex-direction: row;
  
  

  

}
*/

.rank-cup{
  flex: 0.5;
  text-align: center;
  border: 3px solid #E7E3E3;
}

.ranked-user{
  display: flex;
  flex-direction: row;

}

.rank-user-details{
  display: flex;
  flex-direction: column;
  flex: 4;
  border: 3px solid #E7E3E3;

}


.ranked-user-info{
  display: flex;
  flex-direction: column;
  border: 3px solid #E7E3E3;
 
}

.ranked-avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.cup-img{
  display: flex;
  width: 50px;
  height: 60px;
 
 
  
}

.rank-questions-detials{
  display: flex;
  flex-direction: row;
  height: 50%;
 
}


.rank-score{
  display: flex;
  flex-direction: column;
  border: 3px solid #E7E3E3;
  text-align: center;
  flex: 1;
  text-align: center;
}

.detial-txt{
  flex: 2;
}

.questions-no{
  flex:1;
 text-align: center;

}

.score-detials{
  height: 50%;
  text-align: center;
 
}


